.notifications .bell .icon-bell {
  color: #bbb;
}
.notifications .bell.ringing .icon-bell {
  color: #f7941e;
}
.notifications .dropdown-menu {
  min-width: 380px;
  padding: 0;
}
.notifications ul li a {
  padding: 12px;
  border-top: 1px solid #ececec;
}
.notifications ul li.unread a {
  background: #f6f7f7;
}
.notifications ul li:first-child a {
  border: none;
}
.notifications .bell .num-notifications {
  display: none;
  border-radius: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 1.3;
}
.notifications .bell.ringing .num-notifications {
  display: inline-block
}

